.crossfade-frame, 
.slide-frame, 
.caption-frame {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  float: left;
}

.caption-frame img, 
.caption-frame p {
  display: block;
  position: relative;
}

.caption-frame img {
  z-index: 1;
}

.caption-frame p {
  z-index: 2;
  padding: 10px;
  background: rgba(255,255,255,0.75);
}

.crossfade-frame img:first-child, 
.crossfade-frame img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.crossfade-frame img:first-child {
  z-index: 2;
}

.crossfade-frame img:last-child {
  z-index: 1;
}

.slide-frame img {
  display: block;
  width: 400px;
}